[Desktop Entry]
Name=Surfshark
Exec=/usr/bin/Surfshark/surfshark %U
Terminal=false
Type=Application
Icon=surfshark
StartupWMClass=Surfshark
Comment=Keep your online activity and personal information secure. Put your privacy-conscious mind at rest and enjoy unrestricted internet.
Categories=Utility;
